{% extends "base.html" %} {% block title %} Home {% endblock %} {% block head %}
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
{% endblock %} {% block content %}
<section class="home" id="home" style="padding: 0; margin-top: 30px; padding-top: 30px;">
  <!-- <div class="homeContent">
    <h2>Delicious Cake for Everyone</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum excepturi
      doloribus, fuga quod deserunt recusandae?
    </p>
    <div class="home-btn">
      <a href="#"><button>see more</button></a>
    </div>
  </div> -->
  <div class="background-video">
    <video autoplay muted loop>
        <source src="/static/img/with CodeMind.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- Your other content goes here -->
</div>
</section>

<!-- home section end here  -->

<!-- product section start here  -->
<section class="product" id="product">
  <div class="heading">
    <h2>Our Exclusive Products</h2>
  </div>
  <div class="swiper product-row">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake2.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="heading">
    <h2>Our Customized Products</h2>
  </div>
  <div class="swiper product-row">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake1.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\cake2.png" alt="" />
        </div>
        <div class="product-content">
          <h3>Chocolate</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            adipisci reiciendis assumenda.
          </p>
          <div class="orderNow">
            <button>Order Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- product section end here  -->

<!-- blogs section start here  -->
<section class="blogs" id="blogs">
  <div class="swiper blogs-row">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\blog-img1.png" alt="" />
        </div>
        <div class="content">
          <h3>Caramel Bourbon Vanilla Cupcakes</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            dolorum voluptatum corporis accusamus aperiam fugiat tempora
            blanditiis labore dolor aliquid maxime nobis laborum sed soluta
            voluptatibus aspernatur natus, dicta quisquam.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam ab
            ullam reiciendis sint eaque at.
          </p>
          <a href="#blogs" class="btn">learn more</a>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\blog-img2.png" alt="" />
        </div>
        <div class="content">
          <h3>Caramel Bourbon Vanilla Cupcakes</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            dolorum voluptatum corporis accusamus aperiam fugiat tempora
            blanditiis labore dolor aliquid maxime nobis laborum sed soluta
            voluptatibus aspernatur natus, dicta quisquam.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam ab
            ullam reiciendis sint eaque at.
          </p>
          <a href="#blogs" class="btn">learn more</a>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="img">
          <img src="static\img\blog-img2.png" alt="" />
        </div>
        <div class="content">
          <h3>Caramel Bourbon Vanilla Cupcakes</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            dolorum voluptatum corporis accusamus aperiam fugiat tempora
            blanditiis labore dolor aliquid maxime nobis laborum sed soluta
            voluptatibus aspernatur natus, dicta quisquam.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam ab
            ullam reiciendis sint eaque at.
          </p>
          <a href="#blogs" class="btn">learn more</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- blogs section ends here  -->

<!-- newsletter section start here  -->

<section class="newsletter">
  <form action="">
    <h3>subscribe for latest update</h3>
    <input
      type="email"
      name=""
      placeholder="enter your email"
      id=""
      class="box"
    />
    <input type="button" value="subscribe" class="box2" />
  </form>
</section>
<!-- newsletter section ends here  -->

<!-- review section start here  -->
<section class="review" id="review">
  <div class="heading">
    <h2>client review</h2>
  </div>

  <div class="swiper review-row">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="client-review">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            perferendis architecto quasi eveniet aliquam sed?
          </p>
        </div>
        <div class="client-info">
          <div class="img">
            <img src="static\img\client1.jpg" alt="" />
          </div>
          <div class="clientDetailed">
            <h3>Hardy Devid</h3>
            <p>UI / UX designer</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="client-review">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            perferendis architecto quasi eveniet aliquam sed?
          </p>
        </div>
        <div class="client-info">
          <div class="img">
            <img src="static\img\client1.jpg" alt="" />
          </div>
          <div class="clientDetailed">
            <h3>Hardy Devid</h3>
            <p>UI / UX designer</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="client-review">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            perferendis architecto quasi eveniet aliquam sed?
          </p>
        </div>
        <div class="client-info">
          <div class="img">
            <img src="static\img\client1.jpg" alt="" />
          </div>
          <div class="clientDetailed">
            <h3>Hardy Devid</h3>
            <p>UI / UX designer</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide box">
        <div class="client-review">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            perferendis architecto quasi eveniet aliquam sed?
          </p>
        </div>
        <div class="client-info">
          <div class="img">
            <img src="static\img\client1.jpg" alt="" />
          </div>
          <div class="clientDetailed">
            <h3>Hardy Devid</h3>
            <p>UI / UX designer</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="static\js\index.js"></script>
{% endblock %}
